aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
fastapi==0.131.0
h11==0.16.0
idna==3.11
pydantic==2.12.5
pydantic-core==2.41.5
python-multipart==0.0.22
starlette==0.52.1
toml==0.10.2
typing-extensions==4.15.0
typing-inspection==0.4.2
uvicorn==0.41.0
