--qnum {{ mtproto_zapret2_queue_num }}
--fwmark={{ mtproto_zapret2_fwmark }}
--server

--lua-init=@{{ mtproto_zapret2_lua_dir }}/zapret-lib.lua
--lua-init=@{{ mtproto_zapret2_lua_dir }}/zapret-antidpi.lua
--lua-init=@{{ mtproto_zapret2_lua_dir }}/mtproto.lua
--filter-tcp={{ mtproto_zapret2_port }}
--out-range=a
--in-range=a
--payload-disable=all
--lua-desync=lets_resend
--new
