[Unit]
Description=MTProto Zapret2 V4 fix
After=network-online.target nftables.service
Wants=network-online.target
Before={{ telemt_service_name }}.service

[Service]
Type=simple
ExecStart={{ mtproto_zapret2_start_script_path }}
ExecStartPost={{ mtproto_zapret2_ready_script_path }}
ExecStopPost=-{{ mtproto_zapret2_nft_binary }} delete table ip {{ mtproto_zapret2_table }}
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
