-- Unofficial Ansible-managed adaptation of MTPROTO_FIX_By_MEKO V4.
-- The vendored license and modification notice are in docs/third-party.

function lets_resend(ctx, desync)
    if bitand(desync.dis.tcp.th_flags, TH_SYN + TH_ACK) == TH_SYN then
        if desync.dis.tcp.th_win == 65535 and
           #desync.dis.tcp.options == 8 and
           desync.dis.tcp.options[1].kind == 2 and
           desync.dis.tcp.options[2].kind == 1 and
           desync.dis.tcp.options[3].kind == 3 and
           desync.dis.tcp.options[4].kind == 1 and
           desync.dis.tcp.options[5].kind == 1 and
           desync.dis.tcp.options[6].kind == 8 and
           desync.dis.tcp.options[7].kind == 4 and
           desync.dis.tcp.options[8].kind == 0 then
            instance_cutoff(ctx, nil)
            desync.arg.fwmark = {{ mtproto_zapret2_conntrack_mark }}
            rawsend_dissect_segmented(desync)
            return VERDICT_DROP
        end
    end

    if bitand(desync.dis.tcp.th_flags, TH_SYN + TH_ACK) == (TH_SYN + TH_ACK) then
        desync.track.lua_state["ack0"] = desync.dis.tcp.th_ack
        desync.dis.tcp.th_win = {{ mtproto_zapret2_synack_window }}
        return VERDICT_MODIFY
    end

    if direction_check(desync) and bitand(desync.dis.tcp.th_flags, TH_SYN + TH_ACK) == TH_ACK then
        if desync.track and desync.dis.tcp.th_ack - desync.track.lua_state["ack0"] >= {{ mtproto_zapret2_synack_window }} then
            instance_cutoff(ctx, true)
            desync.arg.fwmark = {{ mtproto_zapret2_conntrack_mark }}
            rawsend_dissect_segmented(desync)
            return VERDICT_DROP
        end
        desync.dis.tcp.th_win = {{ mtproto_zapret2_ack_window }}
        return VERDICT_MODIFY
    end

    if #desync.dis.payload == 0 or desync.track == nil or desync.track.pos.client.tcp.rseq ~= 1 then
        return VERDICT_PASS
    end

    local len = {{ mtproto_zapret2_split_length }}
    local first = string.sub(desync.dis.payload, 1, len)
    local second = string.sub(desync.dis.payload, len + 1, 2 * len)
    local third = string.sub(desync.dis.payload, 2 * len + 1)
    rawsend_payload_segmented(desync, first)
    rawsend_payload_segmented(desync, third, 2 * len)
    desync.arg["badsum"] = true
    rawsend_payload_segmented(desync, second, len)
    instance_cutoff(ctx, false)
    return VERDICT_DROP
end
