[Unit]
Description=Telemt MTProto proxy
Requires={{ mtproto_zapret2_service_name | default('mtpr-zapret2') }}.service
After=network-online.target {{ mtproto_zapret2_service_name | default('mtpr-zapret2') }}.service{{ ' caddy.service' if telemt_caddy_dependency | default(false) else '' }}
Wants=network-online.target{{ ' caddy.service' if telemt_caddy_dependency | default(false) else '' }}

[Service]
Type=simple
User=telemt
Group=telemt
WorkingDirectory={{ telemt_work_dir }}
Environment=RUST_LOG=info
ExecStart={{ telemt_binary_path }} {{ telemt_config_path }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
